@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  overflow-x: hidden;
}

@layer base {
  h1 {
    @apply text-4xl font-bold mb-4;
  }
  h2 {
    @apply text-2xl font-semibold mb-3;
  }
  p {
    @apply mb-4;
  }
}

@layer components {
  .text-primary-light {
    @apply text-purple-500;
  }
  
  .bg-primary-light {
    @apply bg-purple-500;
  }
  
  .hover\:bg-primary-light\/90:hover {
    @apply hover:bg-purple-500/90;
  }
  
  .hover\:text-primary-light:hover {
    @apply hover:text-purple-500;
  }
  
  .hover\:border-primary-light:hover {
    @apply hover:border-purple-500;
  }
  
  .hover\:shadow-primary\/10:hover {
    @apply hover:shadow-purple-500/10;
  }
}

/* Vlastní scrollbar styly */
.project-description::-webkit-scrollbar {
  width: 6px;
}

.project-description::-webkit-scrollbar-track {
  background: transparent;
}

.project-description::-webkit-scrollbar-thumb {
  background: rgb(168 85 247 / 0.3); /* lehce průhledná fialová */
  border-radius: 3px;
}

.project-description::-webkit-scrollbar-thumb:hover {
  background: rgb(168 85 247 / 0.5);
}

#tech_skills {
  margin-bottom: 0rem;
}

#courses_excursions {
  margin-bottom: 0rem;
}